
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:700&display=swap');

@tailwind base;

h1,h2,h3,h4,h5,h6 {
    @apply mt-6 mb-3 leading-normal tracking-wide text-indigo-700;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

body {
    @apply leading-7 tracking-wide;
    font-family: 'Open Sans', sans-serif;
}

p {
    @apply my-2;
}

pre {
    @apply my-4;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    @apply text-indigo-600 no-underline font-bold border-0 border-b-2 border-indigo-600 border-solid ;
}

a:hover {
    @apply text-indigo-800;
}

table {
  @apply table-auto w-2/3;
  border-spacing: 0;
}

thead {
    @apply bg-gray-100;
}

th, td {
    @apply text-left px-2 py-2 border border-gray-200 border-solid;
}

@tailwind components;

@tailwind utilities;
